In [23]:
import pandas as pd
import numpy as np

In [ ]:
def second_highest_salary_v1(employee: pd.DataFrame) -> pd.DataFrame:
    df = employee.sort_values(by="salary", ascending=False)
    df_deduped = df[~df.salary.duplicated(keep="first")]
    if len(df_deduped) < 2:
        return pd.DataFrame({"SecondHighestSalary": [None]})
    return (
        df_deduped.iloc[1:2]
        .rename(columns={"salary": "SecondHighestSalary"})
        .filter(items=["SecondHighestSalary"])
    )

In [ ]:
def second_highest_salary_v2(employee: pd.DataFrame) -> pd.DataFrame:
    sals = employee.salary.unique()
    ssals = np.sort(sals)
    if len(ssals) < 2:
        return pd.DataFrame({"SecondHighestSalary": [None]})
    return pd.DataFrame({"SecondHighestSalary": [ssals[-2]]})

In [ ]:
def second_highest_salary_v3(employee: pd.DataFrame) -> pd.DataFrame:
    sals = employee.salary
    ssals = np.sort(sals)
    if len(ssals) < 2:
        return pd.DataFrame({"SecondHighestSalary": [None]})
    return pd.DataFrame({"SecondHighestSalary": [ssals[-2]]})

In [ ]:
# test df
df = pd.DataFrame(
    {
        "id": [1, 2, 3, 4],
        "salary": [100, 200, 300, 300],
    }
)

   SecondHighestSalary
0                  200